// app global css


// global

// Variables
$light = #bdbdbd
$dark = #424242
$faded = #777

// CSS3 Root Variables
:root
  --q-color-light $light
  --q-color-light-d darken($light, 10%)
  --q-color-faded $faded
  --q-color-dark $dark

// CSS Classes
.text-faded
  color $faded !important
  color var(--q-color-faded) !important
.bg-faded
  background $faded !important
  background var(--q-color-faded) !important

.text-light
  color $light !important
  color var(--q-color-light) !important
.bg-light
  background $light !important
  background var(--q-color-light) !important

.text-dark
  color $dark !important
  color var(--q-color-dark) !important
.bg-dark
  background $dark !important
  background var(--q-color-dark) !important

.text-faded
  color $faded !important
  color var(--q-color-faded) !important
.bg-faded
  background $faded !important
  background var(--q-color-faded) !important


// application

body
  background-color: $grey-2


@media (min-width: $breakpoint-xs)
  .center-width-sm, .center-width-md, .center-width-lg
    width: 90%
    margin-left: auto
    margin-right: auto

  .center-width-sm
    max-width: 600px

  .center-width-md
    max-width: 1024px

  .center-width-lg
    max-width: 1439px

.q-markdown

  p:last-child
    margin-bottom: 0px;

a
    color: #027be3;
    font-weight: 500;
    text-decoration: none;
    outline: 0;
    border-bottom: 1px dotted currentColor;
    text-align: center;
    transition: opacity 0.2s;
    white-space: nowrap;
